<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <!--Change this to something more user friendly  -->
    Page Not Found!

  </body>
</html>
